 .entry-my-actual-value 
{
    width: auto;
    margin-left: -105px;
    line-height: 1.1;
}

.lineup__player-proj-score
{
    font-size: 1.5rem !important;
    color: #5f5f5f;
    text-align: right;
}

.entry-their-actual-value 
{
    width: auto;
    margin-left: 20px;
    line-height: 1.1;
}

.entry-lurker-actual-value 
{
    width: auto;
    margin-left: 15px;
    line-height: 1.1;
}

.entry-my-actual-value, .entry-their-actual-value, .entry-lurker-actual-value 
{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 90px;
    -ms-flex: 1 1 90px;
    flex: 1 1 90px;
}

.entry-my-actual-value, .entry-their-actual-value, .entry-lurker-actual-value 
{
	font-size: .75rem;
    text-align: left;
}

@media (min-width: 1280px) {

.definition {

    -webkit-flex-basis: 0px !important;
    -ms-flex-preferred-size: 0px !important;
    flex-basis: 0px !important;
}
}

